{erl_opts, [debug_info]}.
{deps, [
  { cowboy, { git, "https://github.com/ninenines/cowboy.git", { tag, "2.4.0" } } },
  { jsx, "2.9.0" }
]}.
{shell, [
    {apps, [wsdemo]}
]}.
{pre_hooks,
  [
   {"(linux|darwin|solaris|win32)", compile, "make"},
   {"(linux|darwin|solaris|win32)", clean, "make  clean"}
  ]}.
